.cs_vhipmcnc0 .cp-item:nth-child(1) .cys-form-label {
  width: 80px;
}
.cs_vhipmcnc0 .cp-item:nth-child(1) .cys-input--inner {
  line-height: 30px;
}
.cs_vhipmcnc0 .cp-item:nth-child(1) .cys-input--inner {
  width: 210px;
}
.cs_vhipmcnc0 .cp-item:nth-child(1) .cys-input--inner {
  border-color: #ccc;
}
.cs_vhipmcnc0 .cp-item:nth-child(2) .cys-form-label {
  width: 80px;
}
.cs_vhipmcnc0 .cp-item:nth-child(2) .cys-input--inner {
  line-height: 30px;
}
.cs_vhipmcnc0 .cp-item:nth-child(2) .cys-input--inner {
  width: 210px;
}
.cs_vhipmcnc0 .cp-item:nth-child(2) .cys-input--inner {
  border-color: #ccc;
}
